main {
  margin-left: var(--nav-width);
  min-height: 100vh;
  padding-top: 150px;
}

main section {
  max-width: 1000px;
  margin: auto;
  padding: 25px;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.tool-content > div {
  margin-top: 20px;
  padding: 15px 25px;
}
